.page-subtitle {
    text-align: center;
    width: 100%;
}

.section-subtitle {
    text-align: center;
    width: 100%;
}

.page-text {
    font-size: 17px;
}

.red-button {
    background-color: #f03517;
    border-color: #f03517;
}