.service-wrapper {
    border: 1px solid rgba(128, 128, 128, 0.452);
}

.service-title {
    color: red;
    text-align: center;
    font-weight: lighter
}

.service-cell {
    border-top: 1px solid rgba(128, 128, 128, 0.452);
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

.service-price {
    font-size: 35px;
}

.red-button {
    background-color: red;
    border-color: red;
}