.page-subtitle {
    text-align: center;
    width: 100%;
}

.section-subtitle {
    text-align: center;
    width: 100%;
}

.page-text {
    font-size: 17px;
}


.service-wrapper {
    border: 1px solid rgba(128, 128, 128, 0.452);
}

.service-title {
    color: #f03517;
    text-align: center;
    font-weight: lighter
}

.service-cell {
    border-top: 1px solid rgba(128, 128, 128, 0.452);
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

.service-price {
    font-size: 35px;
}

.red-button {
    background-color: #f03517;
    border-color: #f03517;
}