.landing-image {
  width: 100px;
  margin: 0 auto;
}

.landing-card {
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.493);
  border-radius: 10px;
  height: 100%;
}

.green-button {
  background: forestgreen;
}

#button-two {
  border: 2px solid #f03517;
  background: none;
}

#button-two:hover {
  border-color: forestgreen;
  background: forestgreen;
}

.divider {
  border-bottom: 1px solid #f03517;
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.divider-button {
  margin: 0 auto;
  background-color: white;
  border: 1px solid #f03517;
  color: #f03517;
}

.divider-button:hover {
  background-color: #f03517;
  border: 1px solid #f03517;
  color: white
}

.support-button {
  background-color: #f03517;
}

.slant {
  margin-top: -20px;
  /* background: #41ade5; */
  background: white;
  color: black;
  position: relative;
  z-index: 3;
}

.slant:before {
  background: inherit;
  top: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(1.5deg);
  transform-origin: 100% 0;
  z-index: -1;
}

.slant-title {
  text-align: center;
}

.slant-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  padding-bottom: 0px;
}