.landing-image {
    width: 100px;
    margin: 0 auto;
  }

  /* .portfolio-title {
    position: absolute;
    z-index: 4;
    color: white;
    text-align: center;
    margin: 0 auto;
  } */

.green-button {
  background: forestgreen;
}

 #button-one {
   background: forestgreen;
 }

  #button-two {
    border: 2px solid #f03517;
    background: none;
  }

  #button-two:hover {
    border-color: forestgreen;
    background: forestgreen;
  }

  .divider {
    border-bottom: 1px solid #f03517;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -1;
  }