.slant {
    margin-top: -20px;
    background: white;
    color: black;
    position: relative;
    z-index: 3;
  }
  
  .slant:before {
    background: inherit;
    top: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0;
    z-index: -1;
  }
  
  .slant-title {
    text-align: center;
  }
  
  .slant-container {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
  }

  .landing-image {
    width: 80px;
    margin: 0 auto;
  }
  
  .landing-subtitle {
    font-weight: lighter;
  }
