.footer-wrapper {
    background: black;
    margin-top: 37px;
    color: #f03517;
    border-top: 1px solid black;
    margin-top: 80px;
    height: 30vh;
}

.footer-input {
    background: none;
    color: #f03517;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

.footer-text {
    text-align: center;
}

.footer-graphic {
    width: 30px;
    margin: 10px;
}

