@media screen and (min-width: 768px) {
    .nav-item {
        margin-right: 30px;
    }

    .navbar-brand {
        margin-left: 30px;
    }
}

@media screen and (min-width: 992px) {
    .nav-item {
    }

    .navbar-brand {
        margin-left: 55px;
    }
  }

@media screen and (min-width: 1200px) {
    .nav-item {
    }

    .navbar-brand {
        padding-left: 80px;
    }
}